body {
    height: 100vh;
    background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    display: flex;
    align-items: center;
    justify-content: center;
}

body .Calculator {
    display: flex;
    align-items: center;
    justify-content: center;
}